################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/sex/tgbot_testApi/.vs/tgbot_testApi/FileContentIndex/edb08b3a-caa3-41cd-9341-e451cf88826f.vsidx
