################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/sex/tgbot_testApi/.vs/tgbot_testApi/FileContentIndex/edb08b3a-caa3-41cd-9341-e451cf88826f.vsidx
/sex/tgbot_testApi/.vs/tgbot_testApi/FileContentIndex/184b7340-7399-43e0-a7fd-f2eac57727a7.vsidx
/sex/tgbot_testApi/.vs/tgbot_testApi/FileContentIndex/ab869f64-fb9b-4171-b2a1-ce0f17946b9f.vsidx
/sex/tgbot_testApi/.vs/tgbot_testApi/FileContentIndex/dcf0e449-3a66-4cbc-9311-43c977ca0183.vsidx
/sex/tgbot_testApi/.vs/tgbot_testApi/FileContentIndex/1642a03a-fa53-45a7-87d3-d2fc12c22be0.vsidx
/sex/tgbot_testApi/.vs/tgbot_testApi/FileContentIndex/00182f6b-379c-4dca-bccf-83011ccbb978.vsidx
/sex/tgbot_testApi/.vs/tgbot_testApi/FileContentIndex/04a94863-dccf-4213-908b-2c6c990ea07e.vsidx
/sex/tgbot_testApi/.vs/tgbot_testApi/FileContentIndex/33a04d3d-ded7-4a6a-9967-6bc9311e3857.vsidx
